{# templates/security/profile.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1>Profile</h1>
    <p>Welcome, {{ app.user.username }}!</p>
    <a href="{{ path('app_logout') }}">Logout</a>
{% endblock %}
