{# templates/admin/edit_user.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Edit User Roles{% endblock %}

{% block body %}
    <h1>Modifier les rôles de l'utilisateur</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Mettre à jour les rôles') }}</button>
    {{ form_end(form) }}
{% endblock %}
