{% extends 'base.html.twig' %}

{% block title %}Famille{% endblock %}

{% block body %}
    <div class="familypage">
        <h1>Page reservée à la famille</h1>
        <h2>Seuls les membres de la famille ont accès à cette page</h2>
        <h3>En construction...</h3>
    </div>
{% endblock %}
