.container.calendar-container {
    margin-top: 50px;
}

.calendar-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2em;
    color: #333;
}

.calendar-events {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 3px;
}

.calendar-event {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
}

.event-card {
    background-color: #a7a7a7;      /* Fond de l'évènement */
    border: 1px solid #000000;      /* Bordure de l'évènement */
    border-radius: 10px;             /* Arrondir les coins légèrement pour un effet carré */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow: hidden;               /* Assurer que le contenu ne déborde pas */
    height: 250px;                  /* Ajuster la hauteur pour rendre l'encart plus carré */
}

.event-card:hover {
    transform: translateY(-5px);
}

.event-card-body {
    padding: 15px;
}

.event-card-title {         /* Titre */
    font-size: 1.2em;       /* Taille de la police */
    margin-bottom: 10px;
    color: #007bff;
}

.event-card-subtitle {      /* Date */
    font-size: 0.9em;     /* Taille de la police */
    color: #6c757d;
    margin-bottom: 10px;
}

.event-card-text {          /* Description */
    font-size: 0.9em;     /* Taille de la police */
    color: #333;
}

.calendar-no-events .alert {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}
