body {   /* Header Main Footer */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #666694;      /* Fond général du site */
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

h6 {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.center-text {
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
}

.center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    margin-bottom: 1rem;
}

.center-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.center-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.center-form input[type="text"],
.center-form input[type="email"],
.center-form input[type="password"],
.center-form button[type="submit"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.center-form button[type="submit"] {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.center-form button[type="submit"]:hover {
    background-color: #45a049;
}

.login-container {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;  /* Centrer horizontalement */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 1rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}