.site-wrapper {   /* Englobe tout le header */
    display: flex;
    flex-direction: column;
    flex: 1;
}

.site-header {   /* Header */
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar {   /* Barre de Navigation au complet */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-brand {   /* Accueil */
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-menu {    /* Toutes les pages autre que l'accueil */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-links {    /* Pages Vitrines */
    list-style: none;
    display: flex;
    gap: 15px;
} 

.navbar-actions {    /* Pages Actives */
    list-style: none;
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.navbar-links li a,
.navbar-actions li a {
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.navbar-links li a:hover,
.navbar-actions li a:hover {
    background-color: #575757;
}
