.streamers {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.streamer {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.streamer img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.streamer h2 {
    font-size: 1.5em;
    margin: 0;
}

.streamer p {
    font-size: 1em;
    margin: 10px 0;
}

.streamer a {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.streamer.live {
    background-color: #00c02d;
}

.streamer.offline {
    background-color: #979797;
}

/* Styles pour l'élément de chargement */
#loading {
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
}

.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
}

.profile-info {
    background-color: #00c030;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
