<p>Bonjour,</p>

<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :</p>

<a href="{{ url('app_reset_password', {'token': resetToken}) }}">Réinitialiser le mot de passe</a>

<p>Si vous n'avez pas demandé de réinitialisation de mot de passe, ignorez cet email.</p>
