{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
<div class="aboutpage">
<h1>À propos de nous</h1>
<p>Voici une page d'information à propos de notre site.</p>
</div>
{% endblock %}
