{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
<div class="aboutpage">
    <h4>
    <p>Je suis une formation de developpement web, je me forme sur ce site que j'ai crée de toute pièce avec la précieuse aide de <a href="https://goodloss.fr/matux">Matux</a>.</p>
    <p>Merci de votre compréhension quant aux erreurs ou problèmes possibles que vous pourriez trouver.</p>
    <p>Merci également de me faire un maximum de retours, positifs comme négatifs.</p>
    Jolan Lanquetin
    </h4>
</div>
{% endblock %}
