{% extends 'base.html.twig' %}

{% block title %}ACTUS{% endblock %}

{% block body %}
<div class="actualitespage">
<h1>Quoiquil se passe bientôt ?</h1>
<p>OMG DES EVENEMENTS PARTOUT</p>
</div>
{% endblock %}
