{% extends 'base.html.twig' %}

{% block title %}Autres{% endblock %}

{% block body %}
<div class="autrespage">
<h1>Les trucs qu'on sait pas classer</h1>
<p>Infos sur ces trucs</p>
</div>
{% endblock %}
