{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
    <h1>Calendrier des Événements Futurs</h1>
    <ul>
        {% for event in events %}
            <li>
                <strong>{{ event.title }}</strong><br>
                <em>{{ event.date|date('d-m-Y H:i') }}</em><br>
                <p>{{ event.description }}</p>
                <p>Jeu: {{ event.jeu }}</p>
            </li>
        {% else %}
            <li>Aucun événement futur.</li>
        {% endfor %}
    </ul>
{% endblock %}
