{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="contactpage">
<h1>Contactez-nous</h1>
<p>Voici notre page de contact.</p>
</div>
{% endblock %}
