{% extends 'base.html.twig' %}

{% block title %}Geoguessr{% endblock %}

{% block body %}
    <div class="geoguessrpage">
        <h1>
            <strong>Geoguessr :</strong> <span class="info-Geoguessr">Futures soirées à Venir</span>
        </h1>
    </div>
{% endblock %}
