{% extends 'base.html.twig' %}

{% block title %}Geoguessr{% endblock %}

{% block body %}
    <div class="geoguessrpage">
        <h1><strong>Geoguessr :</strong></h1>
        <h2><span class="info-Geoguessr">Futures soirées d'entrainement à Venir courant Juillet Août (Participation Facultative)</span></h2>
        <h3>Le Jour J : Une série de points à trouver. Soyez précis et rapide.</h3>
        <h4>
            <ul>
                <li>Les premiers points seront plutôt facile, avec du temps raisonnable.</li>
                <li>Les suivants seront plutôt facile, mais avec moins de temps pour trouver.</li>
                <li>Les derniers seront plus difficile, avec un temps raisonnable mais court pour trouver.</li>
            </ul>
        </h4>
    </div>
{% endblock %}
