{% extends 'base.html.twig' %}

{% block title %}Minecraft{% endblock %}

{% block body %}
    <div class="minecraftpage">
        <h1>
            <strong>Minecraft :</strong> <span class="info-minecraft">à Venir</span>
        </h1>
    </div>
{% endblock %}
