{% extends 'base.html.twig' %}

{% block title %}Minecraft{% endblock %}

{% block body %}
    <div class="minecraftpage">
        <h1><strong>Minecraft :</strong></h1>
        <h2><span class="info-minecraft">Le serveur d'entrainement sera disponible courant Juillet</span></h2>
        <h3>
            <li>Epreuve N°1 : Map PVP, éjectez vos adversaires dans le vide, ne vous faites pas éjecter!</li>
            <li>Epreuve N°2 : Survie, la map essaie de vous tuer, survivez plus longtemps que vos adversaires</li>
            <li>Epreuve N°3 : Course, 3..2..1.. Partez! Franchissez la ligne d'arrivée le plus vite possible</li>
        </h3>
    </div>
{% endblock %}
