{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
    <div class="trackmaniapage">
        <h1>Trackmania² Stadium :</h1>
        <h3>Nom du serveur : LLAN / Mot de passe : framboise</h3>
        <div class="button-container"><a href="https://store.steampowered.com/app/232910/TrackMania_Stadium/">Page Steam du jeu</a></div>
        <h4>Serveur déjà up, n'hésitez pas à vous y connecter dès que possible</h4>
        <h5>6 Maps d'entrainement, 4 parmis les 6 seront tirées au sort le jour J. Vous aurez 10min par Map pour réaliser le meilleur temps possible</h5>
    </div>
{% endblock %}
