{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
    <div class="trackmaniapage">
        <h1>
        <strong>Trackmania² Stadium :</strong> <span class="info-trackmania">Nom du serveur : LLAN / Mot de passe : framboise</span>
        <p><strong>Lien Steam :</strong> https://store.steampowered.com/app/232910/TrackMania_Stadium/</p>
        </h1>
    </div>
{% endblock %}
